.bb:hover {
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}

.btn-blue:hover {
    background-color: #0090fe;
}

.btn-white:hover {
    background-color: rgb(245, 245, 245);
    border-color: black;
}

footer a:hover {
    text-decoration: underline;
}

.arrow:focus + .hidden {
    display: block;
}