* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

.flex {
    display: flex;
}

p {
    font-size: 0.9rem;
}

.section {
    width: 100%;
    padding: 2rem 0;
}

.bg {
    background-color: #B4D0E7;
}

.big-container {
    width: 64%;
    margin: 0 auto;
}

.container {
    width: 56%;
    margin: 2rem auto 0;
}

.nav {
    background-color: white;
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav div {
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
}

.btn {
    padding: 0.9rem;
    text-decoration: none;
    text-align: center;
}

.btn-small {
    padding: 0.7rem 0.5rem;
}

.btn-blue {
    color: white;
    background-color: #0061FF;
}

.btn-blue a {
    color: white;
}

.btn-white {
    color: black;
    border: 2px solid lightgrey;
    background-color: white;
}

.btn-white a {
    color: black;
}

.not-borded {
    border: none;
}

.btn a {
    text-decoration: none;
}

header h1 {
    font-size: 3.5rem;
    font-weight: 900;
    padding-bottom: 1.5rem;
}

.text {
    min-width: 33%;
    font-size: 0.9rem;
}

.marg-down {
    margin-bottom: 2.6rem;
}

.jumbo {
    max-width: 650px;
}

.relative {
    position: relative;
    top: 100px;
}

.borded {
    border: 1px solid lightgrey;
}

.column {
    flex-basis: calc(100% / 3);
    min-height: 20px;
}

.col-head {
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1rem;
}

.mini-container {
    padding: 1.5rem 0.7rem;
}

.small-marg-down {
    margin-bottom: 1rem;
}

.contract-type {
    color: grey;
}

.column ul {
    list-style-type: none;
    padding: 0.5rem 0;
}

li i {
    padding-right: 0.3rem;
} 

.line {
    width: 25%;
}

.blue {
    color: #0061FF;
}

.row {
    gap: 3rem;
}

.row-padded {
    padding: 1.5rem 1rem;
}

.row-gapped {
    gap: 8rem;
    padding: 3rem 0;
}

.left-part {
    min-width: 60%;
}

.left-part img {
    max-width: 100%;
}

.right-part {
    flex-grow: 1;
    padding: 3rem 1.5rem;
}

.cards {
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    flex-basis: calc((100% - 2rem) / 3);
    padding-bottom: 2rem;
}

.card img {
    max-width: 100%;
}