* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

.flex {
    display: flex;
}

.section {
    width: 100%;
    padding: 2rem 0;
}

.bg {
    background-color: #B4D0E7;
}

.big-container {
    width: 64%;
    margin: 0 auto;
}

.container {
    width: 56%;
    margin: 0 auto;
    padding: 3.5rem 0;
}

.nav {
    background-color: white;
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav div {
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
}

.btn {
    background-color: #0061FF;
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
}

.btn a {
    color: white;
    text-decoration: none;
}

header h1 {
    font-size: 3.5rem;
    font-weight: 900;
    padding-bottom: 1.5rem;
}

.text {
    min-width: 33%;
    font-size: 0.9rem;
}

.marg-down {
    margin-bottom: 2.6rem;
}

.jumbo {
    max-width: 650px;
}

.relative {
    position: relative;
    top: 100px;
}

.borded {
    border: 1px solid lightgrey;
}

.column {
    flex-basis: calc(100% / 3);
    min-height: 20px;
}

.col-head {
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1rem;
}

.mini-container {
    padding: 1.5rem 0.7rem;
}

.small-marg-down {
    margin-bottom: 0.8rem;
}

.contract-type {
    color: grey;
}

.column ul {
    list-style-type: none;
    padding: 0.5rem 0;
}

li i {
    padding-right: 0.3rem;
}

.line {
    width: 25%;
}

.blue {
    color: #0061FF;
}

.row {
    gap: 3rem;
    padding: 1.5rem 1rem;
}
