/* Regole base */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

.flex {
    display: flex;
}

p {
    font-size: 0.9rem;
}

.section {
    padding: 4rem 0;
}

.container.large {
    max-width: 1000px;
}

.container {
    max-width: 850px;
    margin: 0 auto;
}

.btn {
    padding: 0.9rem;
    text-decoration: none;
    text-align: center;
}

.btn-small {
    padding: 0.7rem 0.5rem;
}

.btn-blue {
    color: white;
    background-color: var(--lightblue);
}

.btn-blue a {
    color: white;
}

.btn-white {
    color: black;
    border: 2px solid lightgrey;
    background-color: white;
}

.btn-white a {
    color: black;
}

.displayed {
    display: inline-block;
    min-width: 100%;
}

.not-borded {
    border: none;
}

.btn a {
    text-decoration: none;
}

.borded {
    border: 1px solid lightgrey;
}

.line {
    max-width: 25%;
    background-color: lightgrey;
}
/* Colori */
:root {
    --skyblue: #B4D0E7;
    --green: #A2D39B;
    --lightgreen: #D1E9CD;
    --darkred: #61082B;
    --darkskyblue: #0093CE;
    --red: #FF1C1C;
    --red-2: #D5001F; 
    --blue: #0D2481;
    --yellow: #FFD830; 
    --brown: #753857;
    --lightblue: #0061FF;
}
.skyblue {
    background-color: var(--skyblue);
}
.green {
    background-color: var(--green);
    border: 15px solid var(--lightgreen);
}
.darkred {
    background-color: var(--darkred);
}
.darkskyblue {
    background-color: var(--darkskyblue);
}
.red {
    background-color: var(--red);
}
.red-2 {
    background-color: var(--red-2);
}
.blue {
    background-color: var(--blue);
}
.yellow {
    background-color: var(--yellow);
}
.brown {
    color: var(--brown);
}
.lightblue {
    color: var(--lightblue);
}
/* Parte nav */
.nav {
    background-color: white;
    padding: 0 1rem;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav div {
    align-items: center;
}

.bb {
    min-height: 80px;
    align-items: center;
}

.bb a {
    color: black;
}

.nav a {
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
}
/* Sezione header */
header h1 {
    font-size: 3.5rem;
    font-weight: 900;
    padding-bottom: 1.5rem;
}

.text {
    min-width: 33%;
    font-size: 0.9rem;
}

.marg-down {
    margin-bottom: 2.6rem;
}

.jumbo {
    max-width: 650px;
}

.offset-top-120 {
    position: relative;
    top: 120px;
}
/* Sezione colonne scelta piano */
.radio-margin {
    margin-right: 2rem;
}

.columns {
    gap: 10px;
}

.column {
    flex-basis: 0;
    flex-grow: 1;
}

.col-head {
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1rem;
}

.mini-container {
    padding: 1.5rem 0.7rem;
}

.small-marg-down {
    margin-bottom: 1rem;
}

.contract-type {
    color: grey;
}

.column ul {
    list-style-type: none;
    padding: 0.5rem 0;
}

li i {
    padding-right: 0.3rem;
} 
/* colonna orizzontale + sezione 4 + sezione 6 */
.col {
    justify-content: space-between;
}

.col-left {
    max-width: 65%;
}

.col-right {
    min-width: 30%;
}

.col-padded {
    padding: 1.5rem 1rem;
}

.col-left-minor {
    max-width: 50%;
}

/* sezione 2 */
.section2-left-part {
    min-width: 60%;
}

.section2-left-part img {
    max-width: 100%;
}

.section2-right-part {
    flex-grow: 1;
    padding: 3rem 1.5rem;
}
/* sezione 3 cards */
.cards {
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    flex-basis: calc((100% - 2rem) / 3);
    padding-bottom: 2rem;
}

.card img {
    max-width: 100%;
}
/* sezione 5 (blocchi quadrati) */
.block {
    flex-wrap: wrap;
    background-color: #F5F5F5;
}

.mini-block {
    min-width: 50%;
    aspect-ratio: 1/1;
    position: relative;
}

.mini-block img {
    max-width: 120px;
    max-height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.central-block {
        padding: 2.5rem ;
        flex-direction: column;
        gap: 2.3rem;
}

.central-block img {
    max-width: 220px;
    max-height: 220px;
}
/* sezione 7 */
.vertical-pad {
    padding: 5rem 0;
}
.question {
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
    padding: 3rem 2rem 3rem 0;
}

.top-borded {
    border-top: 2px solid lightgrey;
}
/* footer */
footer .section {
    background-color: black;
    padding: 6rem 0 2rem 3rem;
    color: white;
}

footer a {
    display: block;
    text-decoration: none;
    color: white;
}

footer i {
    color: lightgrey;
}

footer select {
    border: none;
    background-color: transparent;
    color: lightgrey;
    cursor: pointer;
}

.small-line {
    max-width: 15%;
}

